.cont-omst .image-btn-text text {
  font-size: 1.5em;
}

.cont-omst .image-btn-text.Korean text {
  font-size: 1.1em;
}
.cont-omst .image-btn-text.Russian text {
  font-size: 1.1em;
}

.classic .cont-omst .image-btn-text.Russian text,
.classic .cont-omst .image-btn-text.Korean text {
  font-size: 1.1em;
}
.cont-omst .image-btn-text.Korean .text-stroke,
.cont-omst .image-btn-text.Russian .text-stroke {
  stroke-width: 8;
}

.jspsych-content.cont-omst:not(.ready) {
  visibility: hidden !important;
}

.jspsych-content.ready.cont-omst {
  visibility: visible !important;
}
