.instructions .image-btn-text text {
  font-size: 1.6em;
}

.instructions .image-btn-text.Korean text,
.instructions .image-btn-text.Russian text {
  font-size: 1.1em;
}
.instructions .image-btn-text.Korean .text-stroke,
.instructions .image-btn-text.Russian .text-stroke {
  stroke-width: 8;
}

.instructions .image-btn-text.Dutch text {
  font-size: 0.9em;
}

.classic .instructions .image-btn-text.Dutch text,
.classic .instructions .image-btn-text.Russian text,
.classic .instructions .image-btn-text.Korean text {
  font-size: 1.5em;
}

.jspsych-content.instructions {
  height: 100svh;
  width: 100svw;
  justify-content: space-around;
  align-content: space-around;
}

.jspsych-content.ready.instructions {
  opacity: 1;
}

.instructions .jspsych-categorize-image-buttons-stimulus {
  flex-shrink: 0;
  margin: 10px auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions .prompt-container {
  flex-grow: 1;
  width: 100%;
  min-height: 30px;
}

.instructions .prompt_text {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.3;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*.jspsych-content {
  visibility: hidden !important;
}*/

.jspsych-content.instructions {
  visibility: hidden !important;
}

.jspsych-content.ready.instructions {
  visibility: visible !important;
}
